<div class="experience-stream" ng-show="showStream">
	<div class="top">
		<div class="logo">
			<img src="/resources/images/logo_transparent.png">
		</div>
	</div>
	<experience-showcase ng-show="showcase"></experience-showcase>
	<div class="experience-gallery-container main-content">
		<experience-gallery></experience-gallery>
		<div>
			<span ng-click="backToMap()" style="cursor: pointer">BACK TO MAP |</span>
			<span ng-click="getMorePlaces(['Sydney', 'NSW'])" style="cursor: pointer"> LOAD MORE PLACES</span>
		</div>
	</div>
	<div class="bottom">
		<itinerary></itinerary>
	</div>
</div>