<div class="experience-gallery">
	<div class="place-container" fb-place="place" ng-repeat="place in places">
		<div class="place-name header">
			<div class="header-left" ng-bind="place.name">
			</div>
			<div class="header-right" ng-show="place.checkins.length > 0" ng-switch on="place.checkins.length">
				<a href="" ng-bind="place.checkins.length + ' friend has been here'" ng-switch-when="1"></a>
				<a href="" ng-bind="place.checkins.length + ' friends have been here'" ng-switch-default></a>
			</div>
		</div>

		<div class="content-container">
			<div class="photo" ng-repeat="photo in fphotos" ng-hide="photo.inItinerary">
				<div class="photo-thumb" ng-style="{'background-image': 'url(' + photo.tile_src + ')'}"  draggable-photo>
				</div>
			</div>
			<div class="photo" ng-repeat="photo in photos" ng-hide="photo.inItinerary">
				<div class="photo-thumb" ng-style="{'background-image': 'url(' + photo.tile_src + ')'}"  draggable-photo>
				</div>
			</div>
			<div class="no-photos-container" ng-hide="!place.loaded || photos.length > 0">
				<div class="no-photos title">
					No Photos Available
				</div>
				<div class="no-photos text">
					<div class="no-photos copy">
						No photos are available for this location as of yet
					</div>
					<div class="no-photos copy">
						Tap to add, or drag into your Itinerary
					</div>
				</div>
				<div class="plane-icon photo-thumb icon" draggable-photo="{dragTemplate : true}">
				</div>
				<div class="no-photos">
					<div class="drag-icon icon inactive" ng-hide="$root.emptyHasBeenDragged">
					</div>
				</div>
			</div>
			<div class="no-photos-container" ng-hide="place.loaded">
				Loading Photos...
			</div>
		</div>
	</div>	
</div> 