<div class="experience-gallery">
	<div class="place-container" ng-repeat="place in places" ng-click="getExperiencesByPlace(place.id)" ng-show="place.experiences.length > 0" stop-event="click">
		<h5 ng-bind="place.name + ' ' + place.id"></h5>

		<span class="experience-container" btf-dragon="experience in place.experiences" stop-event="click">
			<span class="experience-content" ng-switch on="experience.type">
				<span class="photo" ng-switch-when="photo">
					<img ng-src="{{experience.src}}" />
				</span>
				<span ng-switch-when="status">
					This is where the status goes
				</span>
			</span>
		</span>

	</div>
</div>