<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>Wander</title>


<link rel="stylesheet" type="text/css" href="/resources/css/styles.css">
<link rel="stylesheet" type="text/css" href="/resources/css/normalize.css">
</head>

<body>

  <div class="friendslightbox-container">
	<div class="friendslightbox-inner-container">
		<div class="friendslightbox-inner">
			<div class="showcase-exit" ng-click="closeExperience()">
		    	<img src="/resources/images/cross.png">
		    </div>
            <div class="lightboxtitle">People who have been here</div>
			<img ng-src="{{showcase.experience.src_big}}">
			<div class="showcase-information">
				<div class="username-container">
                	<div class="username">Duy Thanh Pham</div>
               	</div>
                <div class="photos">
                	<img src="/resources/images/thanh.jpg">       
                </div>
                <div class="username-container">
                	<div class="username">Kenneth Ah Young</div>
               	</div>
                <div class="photos">
                	<img src="/resources/images/kenneth.jpg">      
                </div>
                
                 <div class="username-container">
                	<div class="username">Maria Barcenas</div>
               	</div>
                <div class="photos">
                	<img src="/resources/images/maria.jpg">      
                </div>
                
                
                
              
                </div>
			</div>
		</div>
	</div>
	<div class="friends-outer" ng-click="closeExperience()">
	</div>
</div>
 

</body>
</html>
