<div class="lightbox-container itinerary-lightbox" ng-show="showItinerary">
	<div class="lightbox-inner">
		<div class="lightbox-exit" ng-click="closeItinerary()">
	    	<img src="/resources/images/cross.png">
	    </div>
        <div class="lightbox-header">My Itinerary </div>
		<div class="lightbox-content">
            <div class="place-container" ng-repeat="place in iplaces">
                <div class="place-name">
                    <div class="title" ng-bind="place.place.name"></div>
                </div>
                <div class="place-photos">
                    <div class="photo-thumb" ng-repeat="photo in place.photos" ng-style="{'background-image': 'url(' + photo.tile_src + ')'}"  draggable-photo index="{{$index}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="lightbox-footer" smaller-on-over="{'accept' : '.itinerary-lightbox .photo-thumb'}">
          	<div id="print-itinerary" class="printer-container icon" printable>
            </div>
                
            <div class="bin-container icon" droppable-remove>
            </div>
       </div>
    </div>
    <iframe src="/resources/partials/printFrame.html" id="print_frame" name="print_frame" width="0" height="0">
    </iframe>
	<div class="lightbox-outer" ng-click="closeItinerary()"></div>
</div>