<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>Wander</title>


<link rel="stylesheet" type="text/css" href="/resources/css/styles.css">
<link rel="stylesheet" type="text/css" href="/resources/css/normalize.css">
</head>

<body>

  <div class="itinerarylightbox-container">
	<div class="itinerarylightbox-inner-container">
		<div class="itinerarylightbox-inner">
			<div class="showcase-exit" ng-click="closeExperience()">
		    	<img src="/resources/images/cross.png">
		    </div>
            <div class="lightboxtitle">My Itinerary</div>
			<img ng-src="{{showcase.experience.src_big}}">
			<div class="showcase-information">
				<div class="place">
                	<div class="title">Cabramatta, NSW, Australia</div>
               	</div>
                <div class="photos">
                	<img src="/resources/images/fullview.jpg">
                    <img src="/resources/images/fullview.jpg">
                    <img src="/resources/images/fullview.jpg">
                    <img src="/resources/images/fullview.jpg">
                    <img src="/resources/images/fullview.jpg">
                    <img src="/resources/images/fullview.jpg">
                    <img src="/resources/images/fullview.jpg">
                    <img src="/resources/images/fullview.jpg">
                    <img src="/resources/images/fullview.jpg">
                    <img src="/resources/images/fullview.jpg">        
                </div>
                <br></br>
                <div class="place">
                	<div class="title">
                    Canley Heights, NSW, Australia
                    </div>
               	</div>
                <div class="photos">
                	<img src="/resources/images/canleyheights.jpg">
                    <img src="/resources/images/canleyheights.jpg">
                    <img src="/resources/images/canleyheights.jpg">
                    <img src="/resources/images/canleyheights.jpg">
                    <img src="/resources/images/canleyheights.jpg">
                    <img src="/resources/images/canleyheights.jpg">
                    <img src="/resources/images/canleyheights.jpg">
                    <img src="/resources/images/canleyheights.jpg">
                    <img src="/resources/images/canleyheights.jpg">
                    <img src="/resources/images/canleyheights.jpg">        
                </div>
                
              	<div class="printer-container">
                	<img src="/resources/images/printer.png">
                </div>
                
                <div class="bin-container">
                	<img src="/resources/images/bin.png">
                </div>
                
              
                </div>
			</div>
		</div>
	</div>
	<div class="itinerary-outer" ng-click="closeExperience()">
	</div>
</div>
 

</body>
</html>
