<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<title>Wanderlust Travels</title>



<link rel="stylesheet" type="text/css" href="/resources/css/login.css">
<link rel="stylesheet" type="text/css" href="/resources/css/normalize.css">
</head>

<body>
  	<div class="main">

  		<div class="logo">
        	<img src="/resources/images/wanderlogo.png"></img>
        </div>
        
    	<div class="button" ng-click="login()">
        	<a class="buttonleft">f</a>
    		<a class="buttonright">Login with Facebook</a>
    	</div>
    
    </div>
    

</body>
</html>
