<div class="showcase-container">
	<div class="showcase-inner-container">
		<div class="showcase-inner">
			<div class="showcase-exit" ng-click="closeExperience()">
		    	<img src="/resources/images/cross.png">
		    </div>
			<!-- <div class="showcase-crisp" ng-style="{'background-image': 'url(' + showcase.experience.src_big + ')'}">
			</div> -->
			<img ng-src="{{showcase.experience.src_big}}">
			<div class="showcase-information">
				<div class="itinerary" ng-click="addToItinerary(showcase.place, showcase.experience);">
					<itinerary-icon></itinerary-icon>
				</div>
				<div class="place">{{showcase.place.name}}, NSW, Australia</div>
				<div class="username">Photo by {{showcase.user.fullName}}</div>
				<div class="underlay">
				</div>
			</div>
		</div>
	</div>
	<div class="showcase-outer" ng-click="closeExperience()">
	</div>
</div>