<div class="showcase-container touch">
	<div class="showcase-inner-container">
		<div class="showcase-inner">
        		<div class="leftarrow">
                	<img src="/resources/images/arrowleft.png">
				</div>
                <div class="rightarrow">
                	<img src="/resources/images/arrowright.png">
                </div>
			<div class="showcase-exit" ng-click="closeShowcase()">
		    	<img src="/resources/images/cross.png">
		    </div>
			<!-- <div class="showcase-crisp" ng-style="{'background-image': 'url(' + showcase.photo.src_big + ')'}">
			</div> -->
			<img ng-src="{{showcase.photo.src_big}}">
			<div class="showcase-information">
				<div class="itinerary" ng-click="addToItinerary(showcase.place, showcase.photo);">
					<itinerary-icon></itinerary-icon>
				</div>
				<div class="place">{{showcase.place.name}}, NSW, Australia</div>
				<div class="username">Photo by {{showcase.user.fullName}}</div>
				<div class="underlay">
				</div>
			</div>
		</div>
	</div>
	<div class="showcase-outer">
	</div>
</div>