<!doctype html>
<html lang="en" xmls:ng="WanderApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
 
   <title>Wander</title>
  <link rel="stylesheet" href="css/normalize.css"/>
  <link rel="stylesheet" href="css/styles.css"/>
  
</head>
  
<body>

<div class="showcase-container">
   	<div class="exitbutton">
    <img src="images/cross.png">
    </div>
	<div class="showcase-inner">
		<img src="images/thanh.jpg">
		<div class="showcase-information">
			<div class="place">{{showcase.place_name}}, NSW, Australia</div>
			<div class="username">Photo by {{showcase.user_fullName}}</div>
		</div>
	</div>
	<div class="showcase-outer" ng-click="closeExperience()">
	</div>
</div>

</body>
</html>