html,body, .main, .view, .sub-main{
	width: 100%;
	height: 100%;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	
}
body {
	font: 14px/1.5em "Lucida Grande", Arial, sans-serif;
	overflow: hidden;
	
}
.ng-cloak { display: none;}
.main {
	min-width: 100%;
	overflow: hidden;
	
}
.touch {
	-ms-touch-action: none;
}
/**
	Depreciated, IE10 does not support blur
.blur {
	-webkit-filter: blur(15px);
	-moz-filter   : blur(15px);
	-ms-filter    : blur(15px);
	-o-filter     : blur(15px);
	filter        : blur(15px);
}
.blur5 {
	-webkit-filter: blur(5px);
	-moz-filter   : blur(5px);
	-ms-filter    : blur(5px);
	-o-filter     : blur(5px);
	filter        : blur(5px);
}
.blur10 {
	-webkit-filter: blur(10px);
	-moz-filter   : blur(10px);
	-ms-filter    : blur(10px);
	-o-filter     : blur(10px);
	filter        : blur(10px);
}*/
.response-message {
	position: absolute;
	top: 15%;
	right: 0;
	z-index: 100000;
	height: 25px;
	padding: 10px;
	font-size: 18px;
	background-color: #F3F3F3;
}

	.response-message.error {
		background-color: #FF6363;
		color: #7D0000;
	}
	.response-message.alert {
		background-color: #F0BF56;
		color: #614200;
	}
	.response-message.success {
		background-color: #7EED81;
		color: #004D03;
	}
#loading { 
	display: none;
	position: absolute;
	z-index: 10000;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	left: 0;
	top: 0;
	opacity: 1;
	color: #333333;
	text-align: center;
	font-size: 36px;
}
.button {
	cursor: pointer;
}
.button-part{
	float: left;
}
.stroke {
	color: white;
}

.clouds{
	z-index: 1;
	position: absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	
	background: url('/resources/images/Clouds.png');
	background-position: bottom;
	background-repeat:repeat-x;
	-webkit-background-size: contain;
	-moz-background-size:contain;
	-o-background-size:contain;
	background-size: contain;
	opacity: .8;
	
	
	
}
.overlay, .underlay {
	position: absolute;
	left: 0;
	top: 0;		
	height: 100%;
	width: 100%;
}
.overlay {
	z-index: 100;
}
.underlay {
	z-index: -1;
}
	.frost {
		background-color: rgba(245, 245, 245, 0.7);	
	}
.photo-thumb {
	background-size: cover;
	background-position: 50% 25%;
	transition: width .2s, height .2s;
			-webkit-transition: width .2s, height .2s, opacity 0.2s;
			   -moz-transition: width .2s, height .2s, opacity 0.2s;
			    -ms-transition: width .2s, height .2s, opacity 0.2s;
			     -o-transition: width .2s, height .2s, opacity 0.2s;
}
.photo-thumb.moving {
	opacity: 0.5;
	/*background-image: none !important;*/
}

/*
Main App CSS 
*/
.top {
	position: absolute;
	z-index: 10;
	height: 15%;
	width: 100%;
	padding: 10px 2%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
		 
		 
}
	.top .logo {
		position: relative;
		z-index: 100;
		height: 100%;
		float: left;
		cursor: pointer;
	}
		.top .logo img {
			width: auto;
			height: 100%;
		}
	.top .overlay {
		z-index: -10;	
		

	}
	
	.top .drag-me-container{
		position: relative;
		z-index: 20;
		height: 100%;
		width: 100%;
		font-size: 2em;
		text-align: center;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: default;
		
	}
		.top .drag-me-container .drag-me-inner{
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
		}
			.top .drag-me-container .drag-me-inner .drag-words{
				display: inline-block;
			}
			.top .drag-me-container .drag-me-inner .drag-man-container{
				display: inline-block;
				height: 2em;
				width: 2em;
				border: thin dashed black;
			}
				.top .drag-me-container .drag-me-inner .drag-man {
					height: 100%;
					width: 100%;
					background-image: url('/resources/images/drag-man.png');
					background-repeat: no-repeat;
					background-size: 50% 100%;
					background-position: center;
					cursor: pointer;
				}
			.top .drag-me-container .drag-me-inner .drag-man-container.empty{
				cursor: default;
			}
		#map-canvas {
			position: relative;
			height: 100%;
			top: 0;
		}
.main-content {
	position: relative;
	top: 15%;
	height: 85%;
	width: 100%;	

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
}
.bottom {
	height: 20%;
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 0 2% 20px 2%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	background-image:url('/resources/images/citysilhouette.png');
	background-repeat:repeat-x;
	background-position:bottom;
	-webkit-background-size: contain;
	-moz-background-size:contain;
	-o-background-size:contain;
	background-size: 25%;
}
	.bottom-content {
		position: relative;
		height: 100%;
		width: 100%;
	}

	.bottom .button.back {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 32px;
		width: auto;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		    -ms-box-sizing: border-box;
		     -o-box-sizing: border-box;
	}

	.bottom .button img {
		width: auto;
		height: 100%;
	}
.logout.button{
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #4d6fa9;	
	clear: both;
	overflow: auto;
	color: #FDFDFD;

	height: 32px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
}
	.logout.button .button-part {
		padding: 5px 10px;
	}
		.logout.button .button-part.left {
			width: 20px;
			font-size: 2em;
			text-align: center;
		}
		.logout.button .button-part.right {
			border-left: 1px solid white;
		}

.experience-gallery-container{
	background-color: #FFFFFF;
	position: relative;
	z-index: 10;
}
.experience-gallery {
	width: 100%;
	height: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}
	.experience-gallery .place-container {
		width: 670px;
		height: 90%;
		display: inline-block;
		padding: 5px;
		margin: 0 20px;
	}
	.experience-gallery .place-name.header {
		margin-bottom: 5px;
		font-size: 2em;
		line-height: 1em;
		color: #444444;
	}

		.experience-gallery .header .header-left {
			display: inline-block;
			width: 65%;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-text-overflow: ellipsis;
			   -moz-text-overflow: ellipsis;
			    -ms-text-overflow: ellipsis;
			     -o-text-overflow: ellipsis;

		}

		.experience-gallery .header .header-right {
			float: right;
			text-align: right;
			padding-right: 26px;
			font-size: 14px;
		}

			.experience-gallery .header .header-right a {
				text-decoration: none;
			}
		.experience-gallery .place-container .content-container {
			height: 100%;
			overflow-y: scroll;
			overflow-x: hidden;
		}
			.experience-gallery .place-container .content-container .no-photos-container{
				height: 92%;
				width: 100%;
				text-align: center;
				position: relative;
				padding: 15px 5px;
				background-color: rgba(50, 50, 50, 0.1);
			}
				.experience-gallery .place-container .content-container .no-photos-container .title{
					height: 50px;
					font-size: 48px;
					line-height: 50px;
				}

				.experience-gallery .place-container .content-container .no-photos-container .copy{
					position: relative;
					bottom: 0;
					font-size: 16px;
				}
				.experience-gallery .place-container .content-container .no-photos-container .icon {
					position: absolute;
					margin: 0 auto;
					left: 0;
					right: 0;
					background-repeat: no-repeat;
					background-position: center;
					z-index: -1;
				}
				.experience-gallery .place-container .content-container .no-photos-container .plane-icon {
					border: thin dashed #333333;
					height: 150px;
					width: 150px;
					bottom: 100px;
					background-image: url('/resources/images/plane-small.png');
					background-position: center;
					background-size: 75%;
				}
				.experience-gallery .place-container .content-container .no-photos-container .drag-icon {
					bottom: 15px;
					height: 100px;
					width: 100px;
					background-image: url('/resources/images/drag-icon.png');
					background-size: contain;
					z-index: 0;
					-webkit-background-size: contain;
					   -moz-background-size: contain;
					    -ms-background-size: contain;
					     -o-background-size: contain;
					
				}
					.experience-gallery .place-container .content-container .no-photos-container .drag-icon.inactive {
						opacity: 0.5;
					}
	.experience-gallery .photo-thumb{
		width: 150px;
		height: 150px;
	}
		.photo-thumb.ui-draggable-dragging {
			opacity: 0.5;
		}
		.photo-thumb.preview.ui-draggable-dragging {
			opacity: 1;
			height: 400px;
			width: 400px;
			background-size: contain;
			-webkit-background-size: contain;
			   -moz-background-size: contain;
			    -ms-background-size: contain;
			     -o-background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	.experience-gallery .photo-thumb img{
		display: none;
	}

	.experience-gallery .photo{
		float: left;
		margin: 5px;
		cursor: pointer;
		border: 1px dashed #777777;
	}

.experience-stream {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: #F8F8F8;
}

.experience-stream .top {
	background: url('/resources/images/Clouds.png');
	background-position: bottom;
	background-repeat:repeat-x;
	-webkit-background-size: contain;
	-moz-background-size:contain;
	-o-background-size:contain;
	background-size: contain;
}

	.experience-stream .main-content {
		padding: 1% 0;
		height: 65%;
	}
	.experience-stream .bottom {
		background-color: #FFFFFF;
	}
	.experience-stream .bottom .itinerary {
		height: 60%;
		width: 100%;
		border: thin dashed #ADADAD;
		position: static;
	}
.itinerary {
	height: 76px;
	position: absolute;
	left: 0;
	bottom: 0;
}
	.itinerary .itinerary-icon-container {
		height: 100%;
		width: 5%;
		float: left;
		display: table;
		padding: 0.1%;
		cursor: pointer;
	}

		.itinerary .itinerary-icon-container .itinerary-counter{
			height: 100%;
			text-align: center;
			display: table-cell;
			padding-top: 10px;
			vertical-align: middle;
			font-size: 2em;
			color: #F8F8F8;
			min-width: 80px;
			max-width: 89px;
			background-image: url('/resources/images/luggage.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			-webkit-background-size: contain;
			   -moz-background-size: contain;
			    -ms-background-size: contain;
			     -o-background-size: contain;
		}

	.itinerary .itinerary-places{
		height: 100%;
    	width: 90%;
		overflow-y: hidden;   
    	white-space: nowrap;
		float: left;	
		padding: 5px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		    -ms-box-sizing: border-box;
		     -o-box-sizing: border-box;
		
			 
	}
		.itinerary .itinerary-places .place-container{
			float: left;
			margin: 0 5px;

		}

			.itinerary .itinerary-places .photo-thumb{
				float: left;
				width: 90px;
				height: 90px;
				margin: 2px;
			}

.showcase-container{
	position: absolute;
	z-index: 100;
	min-width: 100%;
	min-height: 100%;
}
	.showcase-container .showcase-inner-container {
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	.showcase-container .showcase-inner {
  		position: absolute;
		margin:auto;
		width:26%;
		top: 0;
		left: 0;
		right: 0;
		z-index: 20;
		margin-top: 3%;
	}

		.showcase-container .showcase-inner img{
	  		width: 100%;
	  		height: auto;
		}
		.showcase-container .showcase-inner .itinerary{
	  		height: 100%;
	  		padding: 4px 20px;
	  		box-sizing: border-box;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			    -ms-box-sizing: border-box;
			     -o-box-sizing: border-box;

		}
		.showcase-container .showcase-inner .showcase-exit{
			position: absolute;
			z-index:10;
			right: -10px; top: -10px;
			cursor: pointer;
		}
		.showcase-container .showcase-inner .showcase-information {
	  		position: absolute;
	  		text-align: right;
			z-index: 100;
			height: 15%;
			min-height: 65px;
			max-height: 76px;
			width: 100%;
			bottom: 0;
			font-size: 1.2em;
			color: #222222;
			font-weight: 400;
			padding: 10px 20px;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
		}

		.showcase-container .showcase-inner .itinerary-counter {
			background-image: url('/resources/images/luggage_plus.png');
		}

		.showcase-container .showcase-inner .showcase-information .username{
	  		margin-top: 8px;
		}

		.showcase-container .showcase-inner .underlay {
	  		background-color: #FCFCFC;
	  		opacity: 0.9;
		}
		.showcase-container .showcase-inner .showcase-crisp {
	  		background-size: cover;
			background-position: top;
			background-repeat: no-repeat;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 85%;
			z-index: 1;
		}
		.showcase-container .showcase-inner .leftarrow {
			position: absolute;
			left: 10px;
			height: 85%;
			width: 6%;
			cursor:pointer;
			background-image:url('/resources/images/arrowleft.png');
			background-position:center;
			background-repeat:no-repeat;
			background-size:contain;
			-webkit-background-size: contain;
			   -moz-background-size: contain;
			    -ms-background-size: contain;
			     -o-background-size: contain;
		}
		
		.showcase-container .showcase-inner .rightarrow {
			position: absolute;
			right: 10px;
			height: 85%;
			width: 6%;
			cursor:pointer;
			background-image:url('/resources/images/arrowright.png');
			background-position:center;
			background-repeat:no-repeat;
			background-size:contain;
			-webkit-background-size: contain;
			   -moz-background-size: contain;
			    -ms-background-size: contain;
			     -o-background-size: contain;
		}
		
		

	.lightbox-outer{
		position: absolute;
		background: black;
		opacity: 0.8;
		min-width: 100%;
		min-height: 100%;
		z-index: 10;
	}
.lightbox-container {
	position: absolute;
	z-index: 1000;
	min-width: 100%;
	min-height: 100%;
}

	.lightbox-inner{
		background:#FFF;
		position: absolute;
		margin:auto;
		padding: 6px 10px;
		min-height: 400px;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 50;	
	}
	.lightbox-container.itinerary-lightbox .lightbox-inner {
		width: 580px;
		height: 580px;
	}

		.lightbox-container .lightbox-inner .lightbox-header {
			background-color: #FFFFFF;
			height: 40px;
			line-height: 40px;
			font-weight:bold;
			font-size:26px;
			color:#666;
			margin-bottom: 6px;
		}

		.lightbox-container .lightbox-inner .lightbox-exit {
			position: absolute;
			z-index: 10;
			right: -10px;
			top: -10px;
			cursor: pointer;
		}
		.lightbox-container .lightbox-inner .lightbox-content {
			height: 100%;
			overflow: auto;
		}
		.lightbox-container.itinerary-lightbox .lightbox-inner .lightbox-content {
			height: 460px;
		}

.lightbox-container.itinerary-lightbox .lightbox-inner .lightbox-content .place-container {
	margin-bottom: 10px;
}
.lightbox-container.itinerary-lightbox .lightbox-inner .lightbox-content .place-name{
	margin-bottom: 4px;
	font-size: 18px;
}

		.itinerary-lightbox .photo-thumb {
			display: inline-block;
			height: 100px;
			width: 100px;
			margin: 4px;
			border: 1px dashed #777777;
		}

		.itinerary-lightbox .photo-thumb.ui-draggable-dragging {
			opacity: 1;
			border: none;
		}
		.itinerary-lightbox .photo-thumb.ui-draggable-dragging.bin-ready {
			opacity: 0.5;
		}
		.lightbox-container.itinerary-lightbox .lightbox-inner .lightbox-footer {
			height: 80px;
		}
			.lightbox-container.itinerary-lightbox .lightbox-inner .lightbox-footer .printer-container {
				background-image: url('/resources/images/printer-sprite.png');
				background-position: 0px -74px;
				opacity: 1;
				float: left;
			}
			.lightbox-container.itinerary-lightbox .lightbox-inner .lightbox-footer.active-drag .printer-container {
				background-position: 0px 10px;
				opacity: 0.5;
			}
			.lightbox-container.itinerary-lightbox .lightbox-inner .lightbox-footer .icon {
				height: 80px;
				width: 80px;
				background-size: 100%;
				background-repeat: no-repeat;
			}

			.lightbox-container.itinerary-lightbox .lightbox-inner .lightbox-footer .bin-container {
				background-image: url('/resources/images/bin-sprite.png');
				background-size: 65%;
				background-position: 14px -83px;
				float: right;
				opacity: 0.5;
			}
			.lightbox-container.itinerary-lightbox .lightbox-inner .lightbox-footer.active-drag .bin-container {
				background-size: 90%;
				background-position: 14px 4px;
				opacity: 1;
			}
  
 .friends-outer{
		position: absolute;
		background: black;
		opacity: 0.8;
		width: 100%;
		height: 100%;
	}
	
.friendslightbox-container {
	position: absolute;
	z-index: 100;
	min-width: 100%;
	min-height: 100%;
}
.friendslightbox-inner{
	background:#FFF;
	position: absolute;
	margin:auto;
	width: 400px;
	height: 65%;
	min-height:400px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 50;
	
	
}
.friendslightbox-container .friendslightbox-inner-container .friendslightbox-inner .showcase-container {
	margin-top: 16px;
	overflow-y: scroll;
	height: 91%;
	min-height:350px;
}

.friendslightbox-container .friendslightbox-inner-container .friendslightbox-inner .showcase-information {
	position: relative;
	height: 100%;
	width: auto;
	

}

.friendslightbox-container .friendslightbox-inner-container .friendslightbox-inner .lightboxtitle {
	font-weight:bold;
	margin-top:20px;
	margin-left: 20px;
	font-size:20px;
	color:#666;
}

.friendslightbox-container .friendslightbox-inner-container .friendslightbox-inner .showcase-exit {
	position: absolute;
	z-index: 10;
	right: -10px;
	top: -10px;
	cursor: pointer;
}

.friendslightbox-container .friendslightbox-inner-container .friendslightbox-inner .showcase-information .photos {
	position: relative;
	margin-left: 20px;
}

.friendslightbox-container .friendslightbox-inner-container .friendslightbox-inner .showcase-information .photos img {
	width: 50px;
	height: 50px;
	margin: 2px;
}

.friendslightbox-container .friendslightbox-inner-container .friendslightbox-inner .showcase-information .username {
	margin-top: 18px;
	margin-left: 90px;
	position: absolute;
}
